<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title></title>
  <link rel="stylesheet" href="kbl.css">
</head>
<body>
  <div class="grid">
    {{# keys}}
    <div class="key">
      {{# .}}
      <div class="{{pos}}">{{{val}}}</div>
      {{/ .}}
    </div>
    {{/ keys}}
  </div>
  <div class="key">
      <div class="tl">1</div>
      <div class="tc">2</div>
      <div class="tr">3</div>
      <div class="ml">4</div>
      <div class="mc">5</div>
      <div class="mr">6</div>
      <div class="bl">7</div>
      <div class="bc">8</div>
      <div class="br">9</div>
  </div>
	<table>
		<tbody>
			<tr>
        <td>⇞</td>
        <td>⇟</td>
        <td>↹</td>
        <td>⌦</td>
        <td>⎋</td>
        <td>⌫</td>
        <td>⎀</td>
        <td>⇱</td>
        <td>⇲</td>
        <td>↶</td>
        <td>⎄</td>
        <td>– (⇧+,)</td>
        <td>… (m3+k)</td>
        <td>¡</td>
        <td>· (⇧+.)</td>
        <td>¿</td>
      </tr>
			<tr>
        <td>Bild-auf</td>
        <td>Bild-ab</td>
        <td>Tab</td>
        <td>Entf</td>
        <td>Escape</td>
        <td>Rück</td>
        <td>Einfg</td>
        <td>Pos1</td>
        <td>Ende</td>
        <td>Rückgängig</td>
        <td>Compose</td>
        <td>en dash</td>
        <td>horizontal ellipsis</td>
        <td></td>
        <td>Mittelpunkt</td>
        <td></td>
      </tr>
			<tr>
        <td>Prior</td>
        <td>Next</td>
        <td>Tab</td>
        <td>Delete</td>
        <td>Escape</td>
        <td>BackSpace</td>
        <td>Insert</td>
        <td>Home</td>
        <td>End</td>
        <td>Undo</td>
        <td>AltGr + Menü</td>
        <td>AltGr + -</td>
        <td>AltGr + .</td>
        <td>AltGr + ⇧ + 1</td>
        <td>AltGr + .</td>
        <td>AltGr + ⇧ + ß</td>
      </tr>
		</tbody>
	</table>
	<table>
		<tbody>
			<tr>
        <td>ſ (m3+z)</td>
        <td>ẞ (⇧+ß)</td>
        <td>&minus;</td>
      </tr>
			<tr>
        <td>Latin Small Letter Long S</td>
        <td>Latin Capital Letter Sharp S</td>
        <td>Minus Sign</td>
      </tr>
			<tr>
        <td>AltGr + s</td>
        <td>AltGr + ⇧ + s</td>
        <td>&amp;minus;</td>
      </tr>
		</tbody>
	</table>
</body>
</html>
